<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="c:/Logs/binancesdk-${shortdate}.log" layout="${longdate} ${logger} ${level}  ${newline} ${message} ${newline} ${exception:innerFormat=ToString:maxInnerExceptionLevel=100:innerExceptionSeparator=\n\r:separator=\n\r:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <appSettings>
    <add key="BinanceApiKey" value="YOURAPIKEY" />
    <add key="BinanceApiSecret" value="YOURAPISECRET" />
  </appSettings>
</configuration>
